<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="%SystemDrive%\inetpub\wwwroot\DataMerge\venv\Scripts\python.exe"
                  arguments="-m uvicorn backend.app.main:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%SystemDrive%\inetpub\wwwroot\DataMerge\logs\stdout.log"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%SystemDrive%\inetpub\wwwroot\DataMerge" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>

    <!-- 静态文件处理 -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <!-- URL重写规则 -->
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^(static|frontend)/.*" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

    <!-- 安全设置 -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
